body {
  background-color: #e0e5ea;
  margin: 0;
  padding-top: 250px;
  text-align: center; }

.overlay {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1; }

.button--label-show {
  display: inline-block;
  padding: 10px;
  font-size: 24px;
  background-color: #182c3d;
  color: #949da5;
  cursor: pointer; }

.button--checkbox-show {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }
  .button--checkbox-show:checked ~ .button--label-show {
    opacity: 0; }
  .button--checkbox-show:checked ~ .modal-window {
    opacity: 1;
    animation-name: grow;
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .button--checkbox-show:checked ~ .button--label-close {
    opacity: 1;
    animation-name: grow;
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .button--checkbox-show:checked ~ .overlay {
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards; }

.button--label-close {
  display: block;
  width: 10px;
  height: 10px;
  padding: 10px;
  font-size: 24px;
  background-color: transparent;
  color: #949da5;
  border: 1px solid #949da5;
  cursor: pointer; }

.button--checkbox-close {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }
  .button--checkbox-close:checked ~ .button--label-show {
    opacity: 1; }
  .button--checkbox-close:checked ~ .button--label-close {
    opacity: 0; }
  .button--checkbox-close:checked ~ .modal-window {
    opacity: 1;
    animation-name: grow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: reverse; }
  .button--checkbox-close:checked ~ .overlay {
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: reverse; }

.modal-window {
  margin: auto;
  background-color: #182c3d;
  color: #949da5;
  width: 600px;
  padding: 40px;
  font-size: 24px;
  opacity: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: justify; }

@keyframes grow {
  0% {
    transform: scale(0, 0) translateY(0px); }
  100% {
    transform: scale(1, 1) translateY(-150px); } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
