body {
  margin: 0;
  padding-top: 250px;
  text-align: center;
  background-color: $background-color;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: $overlay-color;
}

.button {
  &--label-show {
    display: inline-block;
    padding: 10px;
    font-size: $font-size;
    background-color: $modal-window-color;
    color: $text-color;
    cursor: pointer;
  }

  &--checkbox {
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .modal-window {
      opacity: 1;
      @include getAnimation(grow);
    }

    &:checked ~ .button--label-close {
      opacity: 1;
      @include getAnimation(grow);
    }

    &:checked ~ .overlay {
      @include getAnimation(fade);
    }

    &:not(:checked) ~ .button--label-close {
      opacity: 0;
    }

    &:not(:checked) ~ .overlay {
      @include getAnimation(unfade);
    }
  }

  &--label-close {
    display: block;
    width: $font-size;
    height: 28px;
    text-align: center;
    line-height: $font-size;
    font-size: $font-size;
    background-color: transparent;
    color: $text-color;
    border: 1px solid $text-color;
    cursor: pointer;
    transform: translate(600px, -20px);
    transition-duration: 0.3s;

    &:hover {
      background-color: $text-color;
      color: $modal-window-color;
    }
  }
}

.modal-window {
  opacity: 0;
  margin: auto;
  width: 600px;
  padding: 40px;
  text-align: justify;
  background-color: $modal-window-color;
  color: $text-color;
  font-size: $font-size;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes grow {
  0% {
    transform: scale(0, 0) translateY(0px);
  }

  100% {
    transform: scale(1, 1) translateY(-150px);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes unfade {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}